{% load static %}
{% for animal in animal_products %}

    <div class="card animals">
        <a href="{% url 'details animal' animal.pk %}">
            {% if animal.photo %}
                <img class="product-card-image" src="{{ animal.photo.url }}" alt="animal photo">
            {% else %}
                <img class="product-card-image" src="{% static 'images/meat.jpg' %}" alt="animal photo">
            {% endif %}

            <h1>{{ animal }}</h1>
            <p class="price">${{ animal.price|floatformat:2 }}</p>

            {% if animal.user != request.user %}
                <button id="add-to-cart-{{ animal.pk }}" onclick="addToCart({{ animal.pk }})">
                    <a
                            hx-get="{% url 'add to cart' item_type='AnimalProduct' product_id=animal.id %}"
                            hx-target="#menu-cart-button"
                            hx-swap="outerHTML"
                    >
                        Add to cart
                    </a>
                </button>
            {% endif %}
        </a>
    </div>

{% endfor %}
