<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %} {% endblock %} | Farm</title>
    <script type="text/javascript" src="{% static 'functions.js' %}"></script>
    <link rel="icon" type="image/x-icon" href="{% static "images/favicon.ico" %}">
    <link rel="stylesheet" type="text/css" href="{% static "css/style.css" %}">
</head>

<body>


<ul class="navbar">
    <li class="left-item">
        <a href="{% url 'home' %}">Farm</a>
    </li>

    <li class="left-item dropdownli">
        <div class="dropdown">
            <button class="dropbtn"><a>Catalog</a></button>
            <div class="dropdown-content">
                <a class="filter-btn" id="animals-button" onclick="filterSelection('animals')">Animals</a>
                <a class="filter-btn" id="dairies-button" onclick="filterSelection('dairies')">Dairy Products</a>
                <a class="filter-btn" id="nuts-button" onclick="filterSelection('nuts')">Nuts</a>
                <a class="filter-btn" id="vegetables-button" onclick="filterSelection('vegetables')">Vegetables and Fruits</a>
                <hr class="dropdown-divider">
                <a class="filter-btn active" id="mine-button" onclick="filterSelection('all')">Mine</a>
            </div>
        </div>
    </li>

{#    <li class="left-item">#}
{#        <form method="get" action=".">#}
{#            <a><label for="query">Search:</label></a>#}
{#            <input type="text" id="query" name="query" placeholder="Search...">#}
{#            <button>#}
{#                <img alt="Search" width="10px" height="10px" src="{% static 'images/search-icon.png' %}">#}
{#            </button>#}
{##}
{#        </form>#}
{#    </li>#}



    {% if request.user.is_authenticated %}
        <li class="right-item">
            <a class="nav-link" href="{% url 'profile details' pk=request.user.pk %}">Profile</a>
        </li>
        <li
                class="right-item"
                hx-get="{% url 'menu cart' %}"
                hx-trigger="update-menu-cart from:body"
                hx-swap="innerHTML"
        >
            {% include 'cart/menu_cart.html' %}
        </li>
        <li class="right-item">
            <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
        </li>



    {% else %}

        <li class="right-item">
            <a class="nav-link" href="{% url "login" %}">Log In</a>
        </li>
        <li class="right-item">
            <a class="nav-link" href="{% url "register" %}">Register</a>
        </li>


    {% endif %}

</ul>

{% if request.user.is_authenticated %}

    <ul class="add-products-list">
        <li><a href="{% url 'add vegetable' %}">Add Vegetable and Fruit</a></li>
        <li><a href="{% url 'add animal' %}">Add Animal Product</a></li>
        <li><a href="{% url 'add dairy' %}">Add Dairy Product</a></li>
        <li><a style="margin-right:0" href="{% url 'add nut' %}">Add Nut</a></li>
    </ul>

{% endif %}



<div class="main">

    {% block page_content %}

    {% endblock %}
</div>

<footer class="footer">

    <div class="container p-4"></div>
    <div class="text-center p-3">
        © 2023, June:
        <a class="farm-link" href="{% url 'home' %}">Farm</a>
        , Sadi's project
    </div>
</footer>

<script src="https://unpkg.com/htmx.org@1.9.4"></script>


</body>

</html>



