{% extends 'main/base.html' %}

{% block title %}
    {% if request.user.is_authenticated %}
        Home
    {% else %}
        Welcome
    {% endif %}
{% endblock %}

{% block page_content %}

    <div class="main">
        {% for vegetable in veg_fruit %}
            {% include 'main/vegetable-card.html' %}
        {% endfor %}

        {% for dairy in dairies %}
        {% include 'main/dairy-card.html' %}
        {% endfor %}

        {% for animal in animal_products %}
        {% include 'main/animal-card.html' %}
        {% endfor %}

        {% for nut in nuts %}
        {% include 'main/nut-card.html' %}
        {% endfor %}

    </div>
{% endblock %}

