
.header {
    margin: auto;
    width: 90%;
    height: 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
    font-family: ‘Open Sans’, serif;
    font-weight: 700;
    color: #2F3841;
}


.cart-product {
    margin: auto;
    width: 90%;
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.product-photo {
    width: 100px;
    height: 100px;
    text-align: center;
}

.about {
    height: 100%;
    margin-top: 75px;
    display: flex;
    flex-flow: column nowrap;
    width: 300px ;
}

.title {
    font-size:21px;
    font-family: ‘Open Sans’, serif;
    font-weight: 800;
    color: #202020;
}

.subtitle {
    font-family: ‘Open Sans’, serif;
    font-weight: 600;
    color: #909090;
}


.counter {
    width: 15%;
    display: inline-flex;
    /*justify-content: space-between;*/
    align-items: center;
    margin: 20px;
}

.btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #d9d9d9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    font-family: ‘Open Sans’, serif;
    font-weight: 900;
    color: #202020;
    cursor: pointer;
}

.count {
    font-size: 20px;
    font-family: ‘Open Sans’, serif;
    font-weight: 900;
    color: #202020;
    padding: 10px;
}


.amount {
    padding-top: 20px;
    font-size: 26px;
    font-family: ‘Open Sans’, serif;
    font-weight: 800;
    color: #202020;
}

hr#cart {
    width: 66%;
    float: right;
    margin-right: 5%;
}

.checkout {
    float: right;
    margin-right: 5%;
    width: 28%;
}

.total {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Subtotal {
    font-size: 22px;
    font-family: ‘Open Sans’, serif;

    font-weight: 700;
    color: #202020;
}

.items {
    font-size: 16px;
    font-family: ‘Open Sans’, serif;

    font-weight: 500;
    color: #909090;
    line-height: 10px;
}

.total-amount {
    font-size: 36px;
    font-family: ‘Open Sans’, serif;

    font-weight: 900;
    color: #202020;
}

.checkoutbtn {
    margin : 15px 0 0 700px;
}

.total, .total-amount{
    margin: 0 0 0 90px
}


