.edit-form {
    margin: 0;
    align-content: center;
    padding: 50px 50px;
    width: 100%;
    height: 700px;
}

.item3 {
    float: left;
    position: relative;
    margin: 0 160px 0 0;
}

.item4 {
    float: right;
    position: relative;
}


div.edit-item > img {
    width: 500px;
    height: 400px;
    margin-top: 80px;
}
.edit-button{
    margin:15px 0 0 85px;
}
