* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin-top: 0;
}


html, body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9efd9;
    margin: 0;
}

.main {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: space-evenly;
    padding: 40px 0;

}

.main::after {
    clear: right;
}

.main > div.card {
    background-color: #F2E9D2;
    width: 350px;
    margin: 20px;
    text-align: center;
    line-height: 60px;

}


.navbar {
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #FBE19D;
    height: 75px;
    z-index: 10;
}

.navbar li a {
    font-size: 17px;
    display: block;
    color: #1e1501;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar .right-item {
    float: right;
}

.navbar .left-item {
    float: left;
}


.add-products-list {
    position: fixed;
    list-style: none;
    padding: 0;
    background-color: floralwhite;
    height: 50px;
    margin: 0 auto;
    z-index: 5;
    top: 60px;
    right: 0;
    left: 0;
    width: 100%;

}

.add-products-list li a {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: #1e1501;
    padding: 14px 16px;
    margin-right: 40px;

}

.add-products-list li {
    display: inline-block;
    z-index: 1;

}


.dropdownli {
    z-index: 11;
}

div.dropdown-content {
    z-index: 10;
}

.dropdown-menu {
    float: left;
}

.dropdown .dropbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #C58F07;
    color: white;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: red;
}

li.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FBE19D;
    min-width: 160px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #C58F07;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-divider {
    color: #1E1501;
}


.card {
    display: inline-block;
    transition: 0.3s;
    width: 40%;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 275px;
    margin: auto;
    text-align: center;
    font-family: arial, serif;
    align-items: center;
    text-decoration: none;
    opacity: 0.8;
}

.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.product-card-image {
    border-radius: 5px 5px 0 0;
    width: 275px;
    height: 275px;
}

.price {
    color: grey;
    font-size: 22px;
    text-decoration: none;
}

.card button {
    position: relative;
    border: none;
    outline: 0;
    padding: 12px;
    color: #1e1501;
    background-color: #c58f07;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.farm-link {
    text-decoration: none;
    color: #1E1501;
}


#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: #FBE19D;
    text-align: center;
}




.cust-button {
    appearance: none;
    background-color: #fbe19d;
    border-radius: 40em;
    border-style: none;
    box-shadow: #fad77f 0 -12px 6px inset;
    box-sizing: border-box;
    color: #1e1501;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -.24px;
    margin: 15px 0 0 215px;
    outline: none;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;


}

.cust-button:hover {
    background-color: #c58f07;
    box-shadow: #a77906 0 -6px 8px inset;
    transform: scale(1.125);
}

.cust-button:active {
    transform: scale(1.025);
}

@media (min-width: 768px) {
    .cust-button {
        font-size: 1.5rem;
        padding: .75rem 2rem;
    }
}

