.create-form {
    top: 150px;
    align-content: center;
    padding: 50px 50px;
}

.create-item {
    float: left;
    position: relative;
    margin: 50px;
}

.item2 {
    margin: 80px 0 0 200px;
}


.login-link > a {
    float: right;
    margin-top: -20px;
    text-decoration: none;
}

.create-button{
    margin : 15px 0  0 95px;
}