@import 'main.css';
@import "common.css";
@import "register.css";
@import "login.css";
@import "details-profile.css";
@import "edit-profile.css";
@import "delete-profile.css";
@import "catalog/add-product.css";