{% extends 'main/base.html' %}
{% load static %}
{% block title %} Add diary product {% endblock %}

{% block page_content %}

    <div class="add-product">
        <div class="addProductDiv dairy">
            <h1 class="big-text dairy">Add Dairy Product:</h1>
            <form action="{% url 'add dairy' %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="cust-button addBtn" type="submit">Create</button>
            </form>
        </div>
        <div class="farmerGirlDiv dairy">
            <img alt="Farmer Girl Photo" src="{% static 'images/undraw_farm_girl_dnpe.svg' %}">

        </div>
    </div>
{% endblock %}