{% extends 'main/base.html' %}
{% load static %}
{% block title %} {{ dairy.name }} - {{ dairy.percent }} {% endblock %}

{% block page_content %}
    <div class="details-content">

        <div class="details-image">
            {% if  dairy.photo %}
                <img class="details-image" src="{{ dairy.photo.url }}" alt="Dairy Photo">

            {% else %}
                <img class="details-image"
                     src="{% static 'images/milk-products.jpg' %}"
                     alt="Dairy Photo">
            {% endif %}
        </div>
        <div class="details-name"><h1 class="big-text">{{ dairy }}</h1></div>
        <div class="details-information">
            <div class="details-detail"><h3>Percent:</h3><br>
                {{ dairy.percent }}%
            </div>
            <div class="details-detail"><h3>Price:</h3><br>
                ${{ dairy.price }}
            </div>
        </div>
        <div class="add-item veg-add">

            <a href="#"
               class="buy-button cust-button"
               hx-get="{% url 'add to cart' 'DairyProduct' dairy.id %}"
               hx-target="#menu-cart-button"
               hx-swap="outerHTML"
            >Add to cart</a>
        </div>
        <div class="btns veg-btns">
            {% if dairy.user_id == request.user.pk %}
                <a class="cust-button editBtn" href="{% url 'edit dairy' dairy.pk %}">Edit</a>
                <a class="cust-button editBtn" href="{% url 'delete dairy' dairy.pk %}">Delete</a>
            {% endif %}
        </div>
    </div>









{% endblock %}