{% extends 'main/base.html' %}
{% load static %}
{% block page_content %}

        {% if photo %}
            <img src="{{ photo.url }}" alt="Photo">

        {% else %}
            <img src="{% static "images/fruit-and-veg.jpg" %}" alt="Photo">
        {% endif %}
    <br>
    {% if plant.user_id == request.user.pk %}
        <a href="{% url 'edit vegetable' plant.pk %}">Edit</a>
        <a href="{% url 'delete vegetable' plant.pk %}">Delete</a>
    {% endif %}
    <br>
    {{ plant.name }}
    <br>
    {{ plant.price }}
    <br>
    {{ plant.production }}
    <br>

{% endblock %}