{% extends 'main/base.html' %}
{% load static %}
{% block title %} {{ nut.type }} {{ nut.name }} {% endblock %}

{% block page_content %}
    <div class="details-content">

        <div class="details-image">
            {% if  nut.photo %}
                <img class="details-image" src="{{ nut.photo.url }}" alt="Nut Photo">

            {% else %}
                <img class="details-image"
                     src="{% static 'images/nuts-and-dry-fruits.jpg' %}"
                     alt="Nut Photo">
            {% endif %}
        </div>
        <div class="details-name"><h1 class="big-text">{{ nut }}</h1></div>
        <div class="details-information">
            <div class="details-detail"><h3>Type:</h3><br>
                {{ nut.type }}
            </div>
            <div class="details-detail"><h3>Price:</h3><br>
                ${{ nut.price }}
            </div>
        </div>
        {% if nut.user_id != request.user.pk %}
            {% if  request.user.is_authenticated %}
            <div class="add-item veg-add">

                <a href="#"
                   class="buy-button cust-button"
                   hx-get="{% url 'add to cart' 'Nut' nut.id %}"
                   hx-target="#menu-cart-button"
                   hx-swap="outerHTML"
                >Add to cart</a>
            </div>
                {% endif %}
        {% else %}
            <div class="btns veg-btns">

            <a class="cust-button editBtn" href="{% url 'edit nut' nut.pk %}">Edit</a>
            <a id="deleteProfileBtn" class="cust-button prof-button"
               onclick="document.getElementById('modal-delete').style.display='block'">Delete</a>
        {% endif %}
        </div>
    </div>
    <div id="modal-delete" class="modal">
    <span onclick="document.getElementById('modal-delete').style.display='none'" class="close"
          title="Close Modal">×</span>
        <form class="modal-content" action="{% url 'delete nut' nut.pk %}" method="post">
            <div class="container">
                <h1>Delete Product</h1>
                <p>Are you sure you want to delete this {{ nut }}?</p>
                {% csrf_token %}
                <div class="clearfix">
                    <button type="button" onclick="document.getElementById('modal-delete').style.display='none'"
                            class="cancelbtn">
                        Cancel
                    </button>
                    <input onclick="document.getElementById('modal-delete').style.display='none'" class="deletebtn"
                           type="submit" value="Delete">
                </div>
            </div>
        </form>
    </div>

{% endblock %}