{% extends 'main/base.html' %}
{% load static %}
{% block title %} {{ meat }} {% endblock %}

{% block page_content %}
    <div>
        <a href="#"
           class="buy-button"
           hx-get="{% url 'add to cart' meat.id %}"
           hx-target="#menu-cart-button"
           hx-swap="outerHTML"
        >Add to cart</a>
        {% if photo %}
            <img src="{{ photo.url }}" alt="Photo">

        {% else %}
            <img src="{% static "images/meat.jpg" %}" alt="Photo">
        {% endif %}
        <br>
        {% if meat.user_id == request.user.pk %}
            <a href="{% url 'edit animal' meat.pk %}">Edit</a>
            <a href="{% url 'delete animal' meat.pk %}">Delete</a>
        {% endif %}
        <br>
        {{ meat.name }}

        <br>
        {{ meat.type }}
        <br>
        {{ meat.price }}
        <br>
        {{ meat.date_of_birth }}
        <br>
        {{ meat.production }}
    </div>
{% endblock %}