{% extends 'main/base.html' %}
{% block title %} {{ plant.name }}{% endblock %}

{% load static %}
{% block page_content %}
    <a href="#"
       class="buy-button"
       hx-get="{% url 'add to cart' item_type='VegetableAndFruit' product_id=plant.id %}"
       hx-target="#menu-cart-button"
       hx-swap="outerHTML"
       data-serialized="{{ vegetable|json_script }}"
    >Add to cart</a>

    <img src="{{ photo.url }}" alt="Photo">
    <br>
    {% if plant.user_id == request.user.pk %}
        <a href="{% url 'edit vegetable' plant.pk %}">Edit</a>
        <a href="{% url 'delete vegetable' plant.pk %}">Delete</a>
    {% endif %}
    <br>
    {{ plant.name }}
    <br>
    {{ plant.price }}
    <br>
    {{ plant.production }}
    <br>

{% endblock %}