{% extends 'main/base.html' %}
{% load static %}
{% block title %} Order {{ order.id }}{% endblock %}
{% block page_content %}


    <div class="whole-page">
        <div class="header-orders">
            <div class="head-ord"><b>Order #{{ order.id }}</b></div>
            <div class="count-orders">{{ order_items }} items | <b>Total : ${{ order_total }}</b></div>
        </div>


        <div class="orders-window">
            <div class="fill"></div>
            <table class="my-orders">
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Sub-Total</th>
                </tr>
                {% for item in order.items.all %}
                    <tr>
                        <td>{{ item.get_name }}</td>
                        <td>${{ item.price|floatformat:2 }}</td>
                        <td>{{ item.quantity }}</td>
                        <td>{{ item.get_total_price }}</td>
                    </tr>
                {% endfor %}

            </table>

        </div>
    </div>

{% endblock %}