{% extends 'main/base.html' %}
{% block title %} Checkout {% endblock %}
{% block page_content %}
    <div>
        <form method="post" action="{% url 'start order' %}">
            {% csrf_token %}
            <div>
                <h1>Checkout</h1>


                <div class="checkout-content">
                    <h2>Shipping information</h2>

                    <div>
                        <label for="first_name">First name</label>
                        <input id="first_name" class="form-field checkfirld" type="text" value="{{ request.user.first_name }}">
                    </div>
                    <div>
                        <label for="last_name">Last name</label>
                        <input id="last_name" class="form-field checkfirld" type="text" value="

             {% if request.user.last_name is None %}{{ '' }}{% else %}{{ request.user.last_name }}{% endif %}">
                    </div>
                    <div>
                        <label for="address">Address</label>
                        <input required id="address" class="form-field checkfirld" type="text">
                    </div>
                    <div>
                        <label for="zipcode">Zip code</label>
                        <input required id="zipcode" minlength="4" maxlength="4" class="form-field checkfirld" type="number">
                    </div>
                    <div>
                        <label for="city">City</label>
                        <input id="city" required class="form-field checkfirld" type="text">
                    </div>

                </div>
                <div class="checkout-content">
                    <h2>Contact information</h2>

                    <div>
                        <label for="email">Email</label>
                        <input id="email" required class="form-field checkfirld" type="email" value="{{ request.user.email }}">
                    </div>
                    <div>
                        <label for="phone" >Phone</label>
                        <input id="phone" required maxlength="10" minlength="10" class="form-field checkfirld" type="number">
                    </div>
                </div>
                <div class="checkout-content">
                    <h2>Payment information</h2>
                    <label for="methods">Payment method</label>
                    <select id="methods" class="form-field checkfirld" name="methods">
                        <option value="cash">Cash</option>
                        <option value="credit">Credit/Debit Card</option>
                        <option value="banktransfer">Bank Transfer</option>
                        <option value="mobile">Mobile wallet</option>
                        <option value="easypay">EasyPay</option>
                        <option value="cryptocurrency">Cryptocurrency</option>
                    </select>

                </div>
            </div>


            <hr>
            <div class="summary">
                <h2> Summary</h2>

                <div>
                    <span>Total</span>
                    <span>${{ cart.get_total_cost|floatformat:2 }}</span>
                </div>

                <button class="cust-button confirm-button">Confirm</button>
            </div>
        </form>
    </div>


{% endblock %}