/*forms fields*/
.form-field {
    width: 100%;
    padding: 12px 15px;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    background-color: #fafafa;
    border: 0;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
    transition: .3s box-shadow;
    margin: 0 0 5px 0;
}

.form-field:focus {
    border: 3px solid #555;
}

.form-field:hover {
    box-shadow: 0 0 4px #352503;
}


/* buttons */
.cust-button {
    appearance: none;
    background-color: #fbe19d;
    border-radius: 40em;
    border-style: none;
    box-shadow: #fad77f 0 -12px 6px inset;
    box-sizing: border-box;
    color: #1e1501;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: -.24px;
    margin: 15px 0 0 215px;
    outline: none;
    quotes: auto;
    text-align: center;
    text-decoration: none;
    transition: all .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;


}

.cust-button:hover {
    background-color: #c58f07;
    box-shadow: #a77906 0 -6px 8px inset;
    transform: scale(1.125);
}

.cust-button:active {
    transform: scale(1.025);
}

@media (min-width: 768px) {
    .cust-button {
        font-size: 1.5rem;
        padding: .75rem 2rem;
    }
}


/*h1 text*/
h1.big-text {
    text-align: center;
    font-size: 50px;
    margin: 0 0 30px 0;
    color: #C58F07;
}