
.edit-form {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 60px;
}


.item3 {
    float: left;
    position: relative;
    margin: 0 160px 0 0;
}

.item4 {

    position: relative;
}


div.edit-item > img {
    width: 400px;
    height: 300px;
    margin-top: 80px;
}
.edit-button{
    margin:15px 0 0 85px;
}

@media screen and (max-width: 960px) {
    .edit-form{
        display: flex;
        flex-wrap: wrap;

    }
}
