.login-form {
    top: 100px;
    align-content: center;
    padding: 55px 50px;
}

.login-item {
    float: right;
    position: relative;
    margin: 45px;
}

.item1 {
    float: left;

}

.login-item img {
    width: 250px;
    height: 300px;
}

.item2 {
    padding: 30px 0 0 0;
}

h1.big-text {
    text-align: center;
    font-size: 50px;
    margin: 0 0 30px 0;
    color: #C58F07;
}



.registration-link > a {
    float: right;
    margin-top: -20px;
    text-decoration: none;
}