* {
    box-sizing: border-box;
}

body {
    margin-top: 0;
    padding-bottom: 30px;
}

.catalog, .add-product, .edit-product {
    margin-top: 60px;

}


html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f9efd9;
}

.main::after {
    content: "";
    display: table;
    clear: both;
}

.navbar-list {
    position: fixed;
    top: 0;
    width: 100%;
    right: 0;
    left: 0;
    list-style-type: none;
    margin: 0;
    padding: 10px 0;
    background-color: #FBE19D;
    z-index: 20;
    height: 60px;
}


.navbar-list li a {
    font-size: 17px;
    color: #1e1501;
    display: block;

    text-align: center;
    text-decoration: none;
    padding: 15px;
}

.right-item {
    float: right;
}

.left-item {
    float: left;
}

.navitem:hover {
    background-color: #c58f07;
    transition: background-color 0.3s;
}

.navitem {
    margin-top: -10px;
    height: 60px;
    border-right: 2px solid #c58f07;
}

.last-nav {
    border-right: none;
}


.all-products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: row;
    min-height: 100vh
}

.card {
    background-color: #F2E9D2;
    width: 450px;
    line-height: 60px;
    height: 100%;
    transition: 0.3s;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 275px;
    margin: 10px;
    text-align: center;
    font-family: arial, serif;
    align-items: center;
    text-decoration: none;
    opacity: 0.8;
    display: flex;
    flex-direction: column;
}

.card:hover {
    box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.2);
    opacity: 1;
}

.product-card-image {
    border-radius: 5px 5px 0 0;
    width: 100%;
    height: 275px;
}

.price {
    color: grey;
    font-size: 22px;
    text-decoration: none;
}

.card button {
    width: 100%;
    border: none;
    outline: 0;
    padding: 12px;
    color: #1e1501;
    background-color: #c58f07;
    text-align: center;
    cursor: pointer;
    font-size: 18px;
}

.card button:hover {
    opacity: 0.7;
}

.farm-link {
    text-decoration: none;
    color: #1E1501;
}


#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 25px;
    background-color: #FBE19D;
    text-align: center;
}

.filterDiv {
    display: none;
}

.show {
    display: block;
}


.navbtn:hover {
    background-color: #c58f07;
}


.navbtn {
    background-color: #fbe19d;
    border: none;
    padding: 0 15px 0 15px;
    border-right: #c58f07 solid;
}

.activebtn {
    background-color: #c58f07;
    color: #352503;
}

.welcome {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    flex-direction: row;

}

.menu-icon {
    display: none;
}


.welcome-text {
    text-align: center;
}


.product-card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

@media screen and (max-width: 960px) {
    .welcome {
        flex-wrap: wrap;
    }

    .menu-icon {
        display: block;
        top: 0;
        position: fixed;
        z-index: 1000;
        right: 20px;
        bottom: 0;
        float: right;
    }

    .navitem:not(:first-child) {
        display: none;
    }

    .navitem.show-navitem {
        display: block;
        width: 100%;
        text-align: center;
        background-color: #FBE19D;
    }

    .show-navitem:nth-child(1) {
        background-color: #c58f07;
    }

    .navbar-list {
        z-index: 100;
    }

    .body{
        padding-bottom: 50px;
    }

}