.whole-page{
    position: absolute;
    top:100px;
    left:0;
    right: 0;
}

.header-orders{
    margin-left:40px;
    color:#1e1501 ;
}
.head-ord{
    font-size: 40px;

}
.count-orders{
    font-size: 20px;

}
.orders-window{
    margin: 30px;
    border-radius: 24px;
    height: 450px;
    background-color: #FAF4E6;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    overflow-x: hidden;
    overflow-y: auto;
}
.my-orders{
    width: 100%;

    border-radius: 50px;
    font-size: 20px;
    color:#1e1501 ;
    overflow: auto;

}

.my-orders tr:nth-child(even){
    background-color: #f9efd9;
}
.my-orders tr:nth-child(1){
    background-color: #fbe19d;
}
.fill{
    height: 20px;
    width: 100%;
    background-color: #fbe19d;
    border-radius: 24px 24px  0 0 ;
}

.order-total{
    float: left;
    font-size: 20px;
}
